<%= decidim_form_for(@form, url: decidim_admin_privacy.privacy_path(id: @current_setting), method: :put) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".save") %>
  </div>
<% end %>
